.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border: 1px solid aqua;
  width: 500px;
  height: 70px;
  background-color: aqua;
}

.middle {
  width: 500px;
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-sidebar {
  background-color: orange;
  width: 80px;
  height: 900px;
}

.main-content {
  background-color: red;
  width: 300px;
  height: 900px;
  position: relative;
}

.cube {
  background-color: black;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.right-sidebar {
  background-color: purple;
  width: 80px;
  height: 900px;
}

.footer {
  width: 500px;
  height: 70px;
  background-color: blue;
}